* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

* p {
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

table th {
font-size: 27px;
}

table td {
font-size: 22px;
text-align: center;
}

.mdi {
font-size: 22px;
}

* h2 {
    font-size: 35px;
}

h2 .mdi {
    font-size: 50px;
}

.library {
    border: black solid 1px;
    
    padding: 5px;
}

body {
    display: flex;
    padding: 0 10px;
background-color: #ffe1e1;

}

tr:nth-of-type(odd) { 
    background: white; 
  }

  tr:nth-of-type(even) { 
    background: #eee; 
  }

  .lib-display { 
    width: 100%; 
    border-collapse: collapse; 
  }
  
  .form-items {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    
  }

  .field {
    width: 100%;
    max-width: 300px;
           }

           .field p {
            font-weight: 700;
           }
    
 .field input {
   width: 100%;
       max-width: 250px;
  
       
           }

   .field-box input {
    width: 100%;
    max-width: 25px;
  
    
   }

           .checkbox-flex {
            display: flex;
            justify-content: center;
gap: 20px;
           }



           input:focus,
textarea:focus {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

input {
 font-size: 1.5rem;

  padding: 0 10px;
  margin: 0;
 
  background: white;
}

input:invalid {
    border: 2px dashed red;
  }

.form-items button {
    padding: 5px;
    font: bold 0.6em sans-serif;
    border: 2px solid #333;
    border-radius: 5px;
    background:  #f9e79f;
    font-size: 1.5rem;
    cursor: pointer;
}

.req {
    padding: 10px;
    display: none;
    color: red
}



@media screen and (min-width: 800px) {
    body {
        flex-flow: column wrap;
     height: 1000px;
     padding: 0;
     column-gap: 30px;
    margin: 0;
 
    }
    
    .form-container {
        width: 100%;
        max-width: 25%;
        height: 1000px;
        background-color: #ebebeb;
    }
    
    .lib-display {
        width: 100%;
        max-width: 70%;
        height: 1000px;
        margin-top: 50px;
    }

    table.library {
        width: 100%;
     
    }


       
    }

@media screen and (max-width: 799px) {

body {
 flex-flow: column;
 align-items: center;
 gap: 30px;
}
h2 {
    text-align: center;
}

.lib-display {
    max-width: 550px;
    width: 100%;
}

table.library, thead, tbody, th, td, tr { 
    display: block; 
}

th { 
    position: absolute;
    top: -9999px;
    left: -9999px;
}

tr { border: 1px solid #ccc; }

td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
}

td:before { 

    position: absolute;

    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
}

/*
Label the data
*/
td:nth-of-type(1):before { content: "Title"; }
td:nth-of-type(2):before { content: "Author"; }
td:nth-of-type(3):before { content: "No. pages"; }
td:nth-of-type(4):before { content: "Status"; }
td:nth-of-type(5):before { content: "Remove"; }

}

